<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>IndexAdmin</display-name>
    <servlet-name>IndexAdmin</servlet-name>
    <servlet-class>ctrl.IndexAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAdmin</servlet-name>
    <url-pattern>/IndexAdmin</url-pattern>
  </servlet-mapping>
  <display-name>LuomAdmin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HeaderAdmin</display-name>
    <servlet-name>HeaderAdmin</servlet-name>
    <servlet-class>ctrl.HeaderAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderAdmin</servlet-name>
    <url-pattern>/HeaderAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProduitAdmin</display-name>
    <servlet-name>ProduitAdmin</servlet-name>
    <servlet-class>ctrl.ProduitAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduitAdmin</servlet-name>
    <url-pattern>/ProduitAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduit</display-name>
    <servlet-name>AddProduit</servlet-name>
    <servlet-class>ctrl.AddProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduit</servlet-name>
    <url-pattern>/AddProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSlider</display-name>
    <servlet-name>AddSlider</servlet-name>
    <servlet-class>ctrl.AddSlider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSlider</servlet-name>
    <url-pattern>/AddSlider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Administrateur</display-name>
    <servlet-name>Administrateur</servlet-name>
    <servlet-class>ctrl.Administrateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administrateur</servlet-name>
    <url-pattern>/Administrateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierProduit</display-name>
    <servlet-name>ModifierProduit</servlet-name>
    <servlet-class>ctrl.ModifierProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProduit</servlet-name>
    <url-pattern>/ModifierProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImage</display-name>
    <servlet-name>AddImage</servlet-name>
    <servlet-class>ctrl.AddImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImage</servlet-name>
    <url-pattern>/AddImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoirProduit</display-name>
    <servlet-name>VoirProduit</servlet-name>
    <servlet-class>ctrl.VoirProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirProduit</servlet-name>
    <url-pattern>/VoirProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierImage</display-name>
    <servlet-name>ModifierImage</servlet-name>
    <servlet-class>ctrl.ModifierImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierImage</servlet-name>
    <url-pattern>/ModifierImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoirImage</display-name>
    <servlet-name>VoirImage</servlet-name>
    <servlet-class>ctrl.VoirImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirImage</servlet-name>
    <url-pattern>/VoirImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoirAdmin</display-name>
    <servlet-name>VoirAdmin</servlet-name>
    <servlet-class>ctrl.VoirAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirAdmin</servlet-name>
    <url-pattern>/VoirAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierAdmin</display-name>
    <servlet-name>ModifierAdmin</servlet-name>
    <servlet-class>ctrl.ModifierAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierAdmin</servlet-name>
    <url-pattern>/ModifierAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Slid</display-name>
    <servlet-name>Slid</servlet-name>
    <servlet-class>ctrl.Slid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Slid</servlet-name>
    <url-pattern>/Slid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierSlid</display-name>
    <servlet-name>ModifierSlid</servlet-name>
    <servlet-class>ctrl.ModifierSlid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierSlid</servlet-name>
    <url-pattern>/ModifierSlid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoirSlid</display-name>
    <servlet-name>VoirSlid</servlet-name>
    <servlet-class>ctrl.VoirSlid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirSlid</servlet-name>
    <url-pattern>/VoirSlid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connex</display-name>
    <servlet-name>Connex</servlet-name>
    <servlet-class>ctrl.Connex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connex</servlet-name>
    <url-pattern>/Connex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>ctrl.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>ctrl.AddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierCat</display-name>
    <servlet-name>ModifierCat</servlet-name>
    <servlet-class>ctrl.ModifierCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierCat</servlet-name>
    <url-pattern>/ModifierCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cat</display-name>
    <servlet-name>Cat</servlet-name>
    <servlet-class>ctrl.Cat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cat</servlet-name>
    <url-pattern>/Cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCat</display-name>
    <servlet-name>AddCat</servlet-name>
    <servlet-class>ctrl.AddCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCat</servlet-name>
    <url-pattern>/AddCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SousCat</display-name>
    <servlet-name>SousCat</servlet-name>
    <servlet-class>ctrl.SousCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SousCat</servlet-name>
    <url-pattern>/SousCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierScat</display-name>
    <servlet-name>ModifierScat</servlet-name>
    <servlet-class>ctrl.ModifierScat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierScat</servlet-name>
    <url-pattern>/ModifierScat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddScat</display-name>
    <servlet-name>AddScat</servlet-name>
    <servlet-class>ctrl.AddScat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddScat</servlet-name>
    <url-pattern>/AddScat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Utilisateur</display-name>
    <servlet-name>Utilisateur</servlet-name>
    <servlet-class>ctrl.Utilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utilisateur</servlet-name>
    <url-pattern>/Utilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userdetail</display-name>
    <servlet-name>Userdetail</servlet-name>
    <servlet-class>ctrl.Userdetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userdetail</servlet-name>
    <url-pattern>/Userdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterfaceStock</display-name>
    <servlet-name>InterfaceStock</servlet-name>
    <servlet-class>ctrl.InterfaceStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterfaceStock</servlet-name>
    <url-pattern>/InterfaceStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Four</display-name>
    <servlet-name>Four</servlet-name>
    <servlet-class>ctrl.Four</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Four</servlet-name>
    <url-pattern>/Four</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierFour</display-name>
    <servlet-name>ModifierFour</servlet-name>
    <servlet-class>ctrl.ModifierFour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierFour</servlet-name>
    <url-pattern>/ModifierFour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFour</display-name>
    <servlet-name>AddFour</servlet-name>
    <servlet-class>ctrl.AddFour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFour</servlet-name>
    <url-pattern>/AddFour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cmd</display-name>
    <servlet-name>Cmd</servlet-name>
    <servlet-class>ctrl.Cmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cmd</servlet-name>
    <url-pattern>/Cmd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Messagerie</display-name>
    <servlet-name>Messagerie</servlet-name>
    <servlet-class>ctrl.Messagerie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messagerie</servlet-name>
    <url-pattern>/Messagerie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Archive</display-name>
    <servlet-name>Archive</servlet-name>
    <servlet-class>ctrl.Archive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Archive</servlet-name>
    <url-pattern>/Archive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message</display-name>
    <servlet-name>Message</servlet-name>
    <servlet-class>ctrl.Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Crdn</display-name>
    <servlet-name>Crdn</servlet-name>
    <servlet-class>ctrl.Crdn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Crdn</servlet-name>
    <url-pattern>/Crdn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifiercord</display-name>
    <servlet-name>Modifiercord</servlet-name>
    <servlet-class>ctrl.Modifiercord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifiercord</servlet-name>
    <url-pattern>/Modifiercord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cmdsupp</display-name>
    <servlet-name>Cmdsupp</servlet-name>
    <servlet-class>ctrl.Cmdsupp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cmdsupp</servlet-name>
    <url-pattern>/Cmdsupp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Detaildel</display-name>
    <servlet-name>Detaildel</servlet-name>
    <servlet-class>ctrl.Detaildel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Detaildel</servlet-name>
    <url-pattern>/Detaildel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Detailcmd</display-name>
    <servlet-name>Detailcmd</servlet-name>
    <servlet-class>ctrl.Detailcmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Detailcmd</servlet-name>
    <url-pattern>/Detailcmd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnactiveUser</display-name>
    <servlet-name>UnactiveUser</servlet-name>
    <servlet-class>ctrl.UnactiveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnactiveUser</servlet-name>
    <url-pattern>/UnactiveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cmdpb</display-name>
    <servlet-name>Cmdpb</servlet-name>
    <servlet-class>ctrl.Cmdpb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cmdpb</servlet-name>
    <url-pattern>/Cmdpb</url-pattern>
  </servlet-mapping>
</web-app>